main {
  margin: auto;
}

:root {
  --square-size: 1.9rem;
  --board-width: 10;
  --board-height: 20;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.8rem;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  margin: 10px;
}

.tetris-info {
  display: flex;
  justify-content: space-around;
}

.controls-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.tetris-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  width: fit-content;
  border-radius: 10px;
  padding: 25px 10px;
  margin: auto;
  max-width: 85%;
}

.tetris-container>div {
  margin: 0px 15px;
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  :root {
    --square-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .detail {
    font-size: 0.8rem;
  }

  .tetris-container {
    max-width: 450px;
  }

  .controls {
    display: none;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  :root {
    --square-size: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.6rem;
  }

  .detail {
    font-size: 0.6rem;
  }

  .controls-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .button {
    flex-basis: 50%;
    width: 20px;
  }

  .controls {
    display: none;
  }

  .tetris-container {
    max-width: 308px;
  }
}

.tetris-container:focus {
  outline: none;
}

.board-container {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.message-container {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF80;
}

.message-sub-container {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.message {
  width: fit-content;
  margin: auto;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: white;
  padding: 20px 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  padding: 10px 10px;
  margin: 5px;
  flex-basis: 16%;
  width: 30px;
}

.subtitle {
  margin: 0;
}

.right-side-container {
  height: fit-content;
}